A { 
overflow : hidden; 
} 
A { 
color : blue; 
text-decoration : none; 
} 
A:hover { 
color : #cc0066; 
text-decoration : underline; 
} 

* { font-family: 'ÇlÇr ÇoÉSÉVÉbÉN' ,Osaka, "ÉqÉâÉMÉmäpÉS Pro W3", 
	 "Verdana", "Times New Roman", Times, serif; }


#header { 
width : 820px; 
background-color : #f9f9f9; 
height : 100px; 
margin : auto;
padding-top: 2px;
} 
#header h1 { 
font-size : 11px; 
color : #af7d7d; 
text-align : left; 
font-weight : bold; 
font-style : normal; 
margin : 4px; 
} 
#header h3 { 
font-size : 14px; 
color : #8a243a; 
text-align : left; 
font-weight : bold; 
font-style : normal; 
margin : 4px; 
} 
#header h2 { 
font-size : 11px; 
color : #af7d7d; 
text-align : left; 
font-weight : bold; 
font-style : normal; 
margin : 4px; 
} 

#toplink { 
float: left;
width: 325px;
margin: 2px 5px;
padding: 2px;
font-size : 11px; 
font-weight : bold; 
text-align : center; 
} 
#toplink a { 
display : block; 
border : 1px solid #b22222; 
width: 325px;
height: 11px;
margin-left: 10px;
padding: 2px;
background-color: #FFFFCC;
margin: 0px;
vertical-align : middle; 
color : #421C19; 
text-decoration: none;
} 
#toplink a:hover { 
border : 1px solid #cccccc; 
background-color : #b22222; 
color : #ffffff; 
} 

#phothead { 
background: url(../img/bass/lv-navi.jpg) no-repeat; 
border : 1px; 
height : 80px; 
width : 812px;
padding-top: 56px;
} 

#sheet { 
width : 820px; 
height : auto;  
padding-top : 5px; 
background-color : #660000; 
color : #ffffff; 
background-image : url(../img/bass/lv_bg01.jpg); 
clear : both; 
} 
#sheet h1 { 
font-weight : bolder; 
font-size : 18px; 
margin : 8px; 
text-align : left; 
color : #fafad2; 
margin-left : 15px; 
margin-bottom : 15px; 
padding-left : 5px; 
white-space: nowrap;

} 
#sheet h2 { 
width : 600px; 
font-weight : bold; 
font-size : 18px; 
margin : 5px; 
text-align : left; 
margin-top : 30px; 
padding : 4px; 
background-color : #fffff4; 
color : #9a151e; 
border : 1px solid #b22222; 
border-top : 0; 
border-left : 0; 
border-right : 3px solid #b22222; 
border-bottom : 2px solid #b22222; 
white-space: nowrap;
} 
*.main h3 { 
text-align : left; 
font-size : 12px; 
height : 18px;
line-height: 18px; 
margin-left : 8px; 
font-weight : bold; 
color : #740000; 
background-color : #ede7e1; 
width : 600px; 
padding : 4px; 
margin-top : 10px; 
margin-bottom : 15px; 
clear : both; 
white-space: nowrap;
} 
*.main h4 { 
float : left; 
text-align : left; 
font-size : 12px; 
height : 18px; 
margin-left : 8px; 
font-weight : bold; 
color : #660000; 
background-color : #FDF0B3; 
width : 600px; 
padding : 4px; 
margin-top : 5px;
margin-bottom: 10px; 
} 
*.main { 
float : left; 
width : 624px; 
border : 1px solid #cccccc; 
height : auto; 
background-color : #ffffff; 
margin : 5px 5px 5px 10px; 
padding : 2px 0 10px 0; 
color : #000000; 
} 
*.main p { 
font-size : 14px; 
margin-top : 0; 
text-align : left; 
line-height : 20px; 
height : auto; 
} 
*.box p { 
font-size : 12px; 
margin-top : 0; 
height : auto; 
text-align : left; 
line-height : 18px; 
width: 100%;

} 
*.box-t p { 
font-size : 13px; 
margin-top : 0; 
text-align : left; 
line-height : 18px; 
} 
*.box-t2 p { 
font-size : 12px; 
margin-top : 0; 
text-align : left; 
line-height : 18px; 
} 
*.box-pan p { 
font-size : 12px; 
margin-top : 0; 
text-align : left; 
line-height : 18px; 
} 

#box-mmm p { 
font-size : 12px; 
margin : 0; 
text-align : left; 
line-height : 15px; 
} 

div.box { 
clear : left; 
width : 600px; 
height : auto; 
margin-top : 10px; 
padding : 0; 
margin : 0; 
} 
div.box-b { 
clear : left; 
width : 600px; 
height : auto; 
margin-top : 10px; 
padding : 0; 
margin : 0; 
} 

div.box-t { 
clear : left; 
width : 570px; 
height : auto; 
margin-top : 10px; 
} 

div.box-shop { 
clear : left; 
width : 580px; 
height : auto; 
margin-top : 10px; 
margin-bottom: 50px;
clear : both; 
} 

div.box-tt { 
clear : left; 
width : 570px; 
height : 20px; 
margin-top : 10px; 
} 


div.box-pan { 
clear : left; 
width : 570px; 
height : auto; 
margin-top : 5px; 
} 
div.box-t2 { 
clear : left; 
width : 400px; 
height : auto; 
margin-top : 0; 
margin-left : 60px; 
} 
div.box2 { 
clear : left; 
width : 570px; 
height : auto; 
margin-top : 20px;
margin-left: 20px;
padding : 0; 
height : auto; 
} 
div.box2b { 
clear : left; 
width : 600px; 
height : auto; 
margin-top : 20px;
margin-left: 0px;
padding : 0; 
height : auto; 
} 

div.box3 { 
clear : left; 
width : 600px; 
height : auto; 
margin-top : 10px; 
margin : 0; 
padding : 0; 
} 
div.box-bt { 
clear : left; 
width : 550px; 
height : auto; 
margin-top : 10px; 
margin-left : 80px; 
margin-right : 0; 
height : auto; 
padding : 0; 
} 
div.itembox { 
float : left; 
width : 120px; 
height : 230px; 
margin-bottom : 20px; 
} 
div.itembox2 { 
float : left; 
width : 150px; 
height : 280px;
margin-bottom: 25px;
} 
div.itembox3 { 
float : left; 
width : 100px; 
height : 100px; 
} 
div.itembox21 { 
float : left; 
width : 150px; 
height : 180px; 
} 
div.itembox22 { 
float : left; 
width : 120px; 
height : 230px; 
} 
div.itembox23 { 
float : left; 
width : 150px; 
height : 230px; 
} 
div.itembox24 { 
float : left; 
width : 150px; 
height : 230px; 
} 
div.itembox25 { 
float : left; 
width : 150px; 
height : 300px; 
} 
div.itembox41 { 
float : left; 
width : 120px; 
height : auto;
margin-bottom: 15px;
} 
div.itembox4 { 
float : left; 
width : 120px; 
height : 120px; 
} 
div.itembox5 { 
float : left; 
width : 220px; 
height : 230px;
margin: 0; 
padding : 0;
} 
div.itembox6 { 
float : left; 
width : 250px; 
height : auto; 
margin-left : 5px; 
margin-right : 5px; 
padding : 0;
margin-bottom: 18px; 
} 
div.itembox7 { 
float : left; 
width : 325px; 
height : auto; 
margin-left : 5px; 
margin-right : 5px; 
padding : 0;
margin-bottom: 18px; 
} 
div.itembox8 { 
float : left; 
width : 300px; 
height : auto; 
margin-left : 5px; 
margin-right : 5px; 
padding : 0;
margin-bottom: 18px; 
} 
#phot { 
border : 1px; 
text-align : center; 
height : 135px; 
width : 130px; 
} 
#phot22 { 
border : 1px; 
text-align : center; 
height : auto; 
width : 110px; 
padding : 0;
} 
#phot222 { 
border : 1px; 
text-align : center; 
height : auto; 
width : 210px; 
} 

#phot2222 { 
border : 1px; 
text-align : center; 
height : auto; 
width : 270px; 
} 
#phot2 { 
float : left; 
border : 1px; 
text-align : center; 
height : 600px; 
width : 280px;
margin: 0;
} 
#phot33 { 
border : 1px; 
text-align : center; 
height : auto; 
width : 80px; 
padding : 3px; 
} 
#phot3 { 
border : 1px; 
text-align : center; 
height : auto; 
width : 55px; 
padding : 3px; 
} 
#phot4 { 
float : left; 
border : 1px; 
text-align : center; 
height : auto; 
width : 280px; 
} 
#phot5 { 
border : 1px; 
text-align : center; 
height : auto; 
width : 150px; 
padding : 3px; 
}
#phot6 { 
border : 1px; 
text-align : center; 
height : 200px; 
width : 200px; 
} 
 
#itemtext { 
border : 1px; 
margin : 0; 
padding : 3px; 
text-align : center; 
border-top : 0; 
font-size : 12px; 
font-weight : bold; 
height : auto; 
line-height : 15px; 
} 
#itemtext2- { 
border : 1px; 
margin : 0; 
padding : 3px; 
text-align : center; 
border-top : 0; 
font-size : 10px; 
font-weight : bold; 
height : 32px; 
} 
#itemtext3 { 
border : 1px; 
margin : 0; 
padding : 3px; 
text-align : center; 
border-top : 0; 
font-size : 11px; 
font-weight : bold; 
height : auto; 
width : auto; 
} 
#itemtext4 { 
border : 1px; 
margin : 0; 
padding : 2px; 
text-align : center; 
border-top : 0; 
font-size : 12px; 
font-weight : bold; 
height : auto; 
} 
#itemcode { 
border : 1px; 
margin : 0; 
padding : 3px; 
text-align : center; 
border-top : 0; 
font-size : 12px; 
color : #8e0900; 
} 
#size { 
border : 1px; 
margin : 0; 
padding : 3px; 
text-align : center; 
border-top : 0; 
font-size : 12px; 
color : #7B7B7B; 
} 
#price { 
border : 1px; 
margin : 0; 
padding : 3px;
width: 120px;
height: 18px;
text-align : center; 
border-top : 0; 
font-size : 12px; 
background-color: #FFFFCC;
color : #CC6633; 
} 
#text { 
border : 1px; 
margin : 0; 
padding : 5px; 
text-align : left; 
border-top : 0; 
font-size : 12px; 
width : 140px; 
margin-bottom : 0px; 
height : 30px; 
padding-left : 8px; 
line-height : 16px; 
} 
#text22 { 
border : 1px; 
margin : 0; 
padding : 5px; 
text-align : right; 
border-top : 0; 
font-size : 11px; 
width : 100px; 
margin-bottom : 10px; 
height : 20px; 
padding-left : 8px; 
line-height : 16px; 
} 
#itemtext2 { 
border : 1px; 
margin : 0; 
padding : 3px; 
border-top : 0; 
font-size : 16px; 
font-weight : bold; 
text-align : left; 
width : 300px; 
white-space: nowrap;
} 
#itemcode2 { 
border : 1px; 
margin-left : 20px; 
border-top : 0; 
font-size : 14px; 
color : #8e0900; 
padding-left : 10px; 
text-align : left; 
width : 280px; 
} 

#text2 { 
border : 1px; 
padding : 5px; 
text-align : left; 
border-top : 0; 
font-size : 12px; 
width : 280px;
margin-bottom : 20px; 
margin-left: 10px;
height : auto; 
padding-left : 8px; 
margin-top : 20px; 
line-height : 16px; 
} 
#text3 { 
float : left; 
border : 1px; 
padding : 5px; 
text-align : left; 
border-top : 0; 
font-size : 12px; 
width : 260px; 
margin-bottom : 8px; 
height : 20px; 
padding-left : 8px; 
margin-top : 2px; 
line-height : 16px; 
height : auto; 
} 

#text3 p { 
text-align : left; 
font-size : 12px; 
line-height : 18px; 
} 


#text4 { 
border : 1px; 
text-align : left; 
border-top : 0; 
font-size : 12px; 
width : 300px; 
margin-bottom : 3px; 
height : auto; 
padding-left : 8px; 
margin-top : 2px; 
line-height : 16px; 
padding-top : 5px; 
padding-right : 5px; 
padding-bottom : 5px; 
} 
#text5 { 
border : 1px; 
margin : 0; 
padding : 5px; 
text-align : left; 
border-top : 0; 
font-size : 12px; 
width : 190px; 
margin-bottom : 1px; 
height : 15px; 
padding-left : 8px; 
line-height : 16px; 
} 
#phot table { 
border : 0; 
width : 130px; 
height : 130px; 
text-align : center; 
vertical-align : middle; 
margin : 3px; 
} 

.main ul { 
padding : 0; 
text-align : right; 
margin-top : 2px;
margin-bottom: 15px;
margin-right : 2px; 
color : #421c19; 
} 
.main li { 
display : block; 
float : right; 
font-size : 12px;
padding : 2px; 
margin : 2px; 
} 
.main li a { 
display : block; 
border : 1px solid #cccccc; 
height : 15px;
line-height: 15px; 
width : 220px; 
text-align : center; 
background-color : #f6f9ed; 
color : #421C19; 
text-decoration: none;
} 
.main li a:hover { 
border : 1px solid #cccccc; 
background-color : #b22222; 
color : #ffffff; 
} 
#itemtboton { 
border : 1px; 
padding : 3px; 
text-align : center; 
border-top : 0; 
font-size : 12px; 
font-weight : bold; 
} 
#itemtboton a { 
display : block; 
border : 1px solid #b22222; 
height : 15px;
line-height: 15px;
width : 220px; 
text-align : center; 
background-color : #f6f9ed; 
padding : 5px; 
vertical-align : middle; 
color : #b22222; 
} 
#itemtboton a:hover { 
border : 1px solid #cccccc; 
background-color : #b22222; 
color : #ffffff; 
} 

#lineboton { 
float : left; 
border : 1px; 
padding : 2px; 
margin: 0px;
border-top : 0; 
font-size : 10px; 
font-weight : bold; 
text-align : left; 
} 
#lineboton a { 
display : block; 
border : 1px solid #b22222; 
height : 24px; 
line-height: 24px;
width : 140px; 
background-color : #f6f9ed; 
padding : 2px; 
margin: 0px;
vertical-align : middle; 
color : #b22222; 
text-align : left; 
} 
#lineboton a:hover { 
border : 1px solid #cccccc; 
background-color : #b22222; 
color : #ffffff; 
} 

#itemtboton a:hover { 
border : 1px solid #cccccc; 
background-color : #b22222; 
color : #ffffff; 
} 
#lineboton2 { 
float : left; 
border : 1px; 
margin: 0px;
padding : 3px; 
border-top : 0; 
font-size : 10px; 
font-weight : bold; 
text-align : left; 
} 
#lineboton2 a { 
display : block; 
border : 1px solid #b22222; 
height : 35px; 
width : 150px; 
background-color : #f6f9ed; 
padding : 5px; 
vertical-align : middle; 
color : #b22222; 
text-align : left; 
} 
#lineboton2 a:hover { 
border : 1px solid #cccccc; 
background-color : #b22222; 
color : #ffffff; 
} 

#lineboton3 { 
float : left; 
border : 1px; 
margin: 0px;
padding : 3px; 
border-top : 0; 
font-size : 10px; 
text-align : left; 
} 
#lineboton3 a { 
background: url(../img/side/bt01.gif) no-repeat;/*í èÌéû*/
display : block; 
border : 1px solid #cccccc; 
height : 11px; 
width : 100px; 
background-color : #f6f9ed; 
padding:7px 24px;
vertical-align : middle; 
color : #b22222; 
text-align : left; 
} 
#lineboton3 a:hover { 
background: url(../img/side/bt02-2.gif) no-repeat;/*ÉJÅ[É\ÉãÉIÅ[ÉoÅ[éû*/
border : 1px solid #cccccc; 
background-color : #b22222; 
color : #ffffff; 
} 


.clearfloat { 
clear : both; 
height : 0; 
font-size : 1px; 
line-height : 0; 
} 
a.fb-like {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
	margin-left: 4px;
	margin-right: 5px;
	width: 74px;
	height: 25px;
	line-height: 25px;
	background: url(../img/bass/iine1.jpg) no-repeat 2px center ;
	text-decoration: none;
	
}
a.fb-like:hover {
	background: url(../img/bass/iine2.jpg) no-repeat 2px center ;
	
}


#footer { 
width : 820px; 
background-color : #f9f9f9; 
height : auto; 
margin : auto; 
} 

#footer P { 
font-size: 10px;
line-height: 15px;
} 


div.itembox-mm { 
float : left; 
width : 280px; 
height : auto; 
margin-left : 15px; 
padding : 0;
margin-bottom: 18px; 
text-align: left;
} 


#itemtext-mm { 
font-size : 16px; 
font-weight : bold; 
width : 300px; 
white-space: nowrap;
margin : 0; 
padding : 3px; 
text-align : left; 
border-top : 0; 
height : auto; 
line-height : 20px; 
} 

#itemcode-mm { 
border : 1px; 
margin : 0;
margin-left: 18px;
margin-bottom: 10px;
padding : 0; 
text-align : left; 
border-top : 0; 
font-size : 14px; 
color : #8e0900; 
} 

#text-mm { 
border : 1px; 
margin : 0;
margin-left: 15px;
padding : 5px; 
text-align : left; 
border-top : 0; 
width : 250px; 
margin-bottom : 10px; 
height : auto; 
padding-left : 8px; 
line-height : 16px; 
} 
#text-mm p { 
font-size : 13px;
line-height: 18px;

} 
#text-mmn { 
border : 1px; 
margin : 0;
margin-left: 15px;
padding : 5px; 
text-align : left; 
border-top : 0; 
width : 520px; 
margin-bottom : 10px; 
height : auto; 
padding-left : 8px; 
line-height : 18px; 
font-size : 13px;

} 
#box-mmm { 
width: 290px;
margin-left: 15px;
margin : 0; 
padding : 3px; 
text-align : left; 
height : auto; 
} 

.box table td { 
text-align : left; 
} 


#box-mmm table td { 
text-align : left; 
} 

*.b-line { 
text-align : left; 
font-size : 12px; 
height : 18px;
line-height: 18px; 
margin-left : 8px; 
font-weight : bold; 
color : #740000; 
background-color : #ede7e1; 
width : 600px; 
padding : 4px; 
margin-top : 5px; 
margin-bottom : 15px; 
clear : both; 

} 
